
.text-container{
    position: absolute;
    top: 40%;
    left:30%;
    color: white;
    text-align: center;
}
.text-container h1{
    font-size: 72px;
}
.text-container p{
    margin-top: 10px;
    font-size: 24px;

}