.res-content-wrapper{
    padding-bottom: 150px;
}
.responsive-content img{
    width: 50px;
    padding-bottom: 20px;
}
.responsive-content {
    padding: 20px;
}
.powerful-content img{
    width: 50px;
    padding-bottom: 20px;
}
.powerful-content{
    padding: 20px;
}
.truly-content img{
    width: 50px;
    padding-bottom: 20px;
}
.truly-content{
    padding: 20px;
}
.res-cont{
    color:#6c757d ;
}