.position-absolute{
    top: 0 ;
    z-index: -1 ;
}
.container-wrapper{
    padding-top: 100px;
    padding-bottom: 140px;
}
.welcome-content h1{
    font-size:50px;
    font-weight: 600 !important;
}
.wel-cont {
    font-size: 25px;
    font-weight: 300;

}
hr{
    width: 70px !important;
    display: block;
    border-top: 5px solid black !important;
    padding-bottom: 50px;

}