.walkthrough-img img{
    width: 929px;
    height: 750px;
    object-fit: cover;
}
.walkthrough-content{
    display: flex ;
    flex-direction: column ;
    text-align: center ;
    margin-top: 36px;
}
.walkthrough-content p{
    text-align: center !important;
}
.vid-wrap{
    padding: 60px;
}
.walk-para1 p{
    color: #1abc9c !important;

}
.walk-para2 p{
    font-weight: 300 !important;
    font-size: 20px !important;
    padding: 20px;
}
.feat-logo{
    margin-bottom: 30px;
}
.Number-wraper{
    display: flex;
    color: white;
    text-align: center;

}
.numb-wrap1{
    background: #515875 ;
    padding: 60px;
}
.numb-wrap2{
    background: #576e9e;
    padding: 60px;
}
.numb-wrap3{
    background: #6697b9;
    padding: 60px;
}
.numb-wrap4{
    background: #88c3d8;
    padding: 60px;
}