.navbar{
    position: fixed;
    width: 100%;
}
.nav-contentwrapper{
    display: flex;
    background: transparent;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.nav-logowrapper{
    margin-left: 30px;

}
.List-wrapper ul li{
    list-style: none;
    float: left;
    padding: 20px;
    display: flex;
    justify-content: end;
}
.Nav-imagewrapper svg{
    margin-right: 20px;
    width:20px;
    

}
.List-wrapper{
    margin-left: 700px;
}
.Nav-imagewrapper svg{
    width: 20px;
    height: 20px;
}
.Nav-imagewrapper {
    margin-right: 20px;
}