.logo-image img{
    width: 60%;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0 !important;
    align-items: center;
}

.nav-link{
    font-size: 15px !important;
    font-weight: bold !important;
    color: white !important;
}
.navbar-icons a{
    padding: 15px;
}
.form-control{
    background-color: #252729 !important;
}

.btn ,.btn-outline-secondary{
    background-color: #198754!important;
    color: white !important;
}





/* .navbar{
    position: fixed;
    width: 100%;
}
.nav-contentwrapper{
    display: flex;
    background: transparent;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.nav-logowrapper{
    margin-left: 30px;

}
.List-wrapper ul li{
    list-style: none;
    float: left;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
.Nav-imagewrapper svg{
    margin-right: 20px;
    width:20px;
    

}
.List-wrapper{
    margin-left: 700px;
}
.Nav-imagewrapper svg{
    width: 20px;
    height: 20px;
}
.Nav-imagewrapper {
    margin-right: 20px;
} */