ul{
    padding: 0!important
}
.col1wrapper{
    padding-left: 80px;
    padding-top: 80px;
}
.col1wrapper ul li {
    list-style: none;
    padding: 10px;
}
.col1wrapper img{
    padding: 10px;
}
.col2wrapper{
    padding-top: 80px;
}
.col2wrapper ul li {
    list-style: none;
    padding: 10px;
}
.col2wrapper h3{
    margin-left: 9px;
}
.col3Wrapper ul li {
    list-style: none;
    padding: 10px;
    /* color: ; */
}
.col3Wrapper p{
    color: #b3b3b3;
}
.col3Wrapper h3{
    margin-left: 9px;
}
.col3Wrapper{
  padding-top: 80px;
}
.col4wrapper{
    padding-top: 80px;
}
.widgets{
    display: flex;
    gap: 100px;
}
.widget-1 h5{
    margin-top: 5px;
    margin-left: 3px;
    color: #b3b3b3;
    font-size: 17px;
}
.subscribewrapper p{
    padding: 30px 0px 30px 0px;
}
.Socialmedia{
    display:flex;
    justify-content: left;
    gap: 100px;
    margin-top: 20px;
}
.facebook {
    display: flex;
}
.facebook-data p{
    margin-bottom: 0 !important;
}
.facebook-data{
    margin: 0 !important;
}
.Rss{
    display:flex ;
}
.Rss-data{
    text-align: center;
}
.Rss-data p{
    margin-bottom: 0 !important;
}

.socialwrap1{
    display: flex;
}
